/* 清除浏览器默认样式 */
* {
    margin: 0;
    padding: 0;
    border: 0;

}



ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}



a img {
    border: none;
}

/* 设置盒模型 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* 设置字体 */

body {
    font-family: "Microsoft JhengHei UI", serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 0.5em;
}


/* 设置颜色 */

body {
    background-color: #f9f9f9;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
}

/* 设置其他样式 */
.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    max-width: 100% !important;
}

.boxTitle{
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(203, 215, 232, 0.6);
    display: flex;
    align-items: center;
    padding: 5px;
    letter-spacing: 2px;

    &::before{
        content: '';
        display: inline-block;
        width: 3px;
        height: 24px;
        background: #2b71fe;
        margin-right: 8px;
        border-radius: 7px;
        vertical-align: middle;
    }
}
